<div class="container">
  <form name="kittenForm" class="kittenForm" ng-submit="newCtrl.addKitten(kitten)">
    <div class="input-field">
      <label for="name">Name</label>
      <input type="text" name="name" ng-model="kitten.name">
    </div>
    <div class="input-field">
      <label for="image">Image</label>
      <input type="url" name="name" ng-model="kitten.image">
    </div>
    <div class="input-field">
      <label for="bio">Bio</label>
      <input type="text" name="bio" ng-model="kitten.bio">
    </div>
    <button class="wave-effect waves-light btn" type="submit">Create Kitten</button>
  </form>
</div>
