<div class="kittens" >
  <ul>
    <li ng-repeat="kitten in mainCtrl.kittenList">
      <div class="row card-panel teal white-text">
        <div class="photo col m4">
          <img ng-src={{kitten.image}} alt="kitten" />
        </div>
        <div class="info col m8">
          <h2>Name: {{kitten.name}}</h2>
          <h3>Likes: <a ng-click="mainCtrl.dislike(kitten.id)"><i class="material-icons dislike">thumb_down</i></a> {{kitten.likes}}<a ng-click="mainCtrl.like(kitten.id)"><i class="material-icons like">thumb_up</i></a></h3>
          <p>Bio: {{kitten.bio}}</p>
          <a class="wave effect waves-light teal btn" ng-click="mainCtrl.getComments(kitten.id)">View Comments</a>
        </div>
      </div>
    </li>
  </ul>
</div>
