<div class="kittens" >
  <ul>
    <li ng-repeat="kitten in mainCtrl.kittenList">
      <div class="row card-panel teal white-text">
        <div class="photo col m4">
          <img ng-src={{kitten.image}} alt="kitten" />
        </div>
        <div class="info col m8">
          <h2>Name: {{kitten.name}} {{kitten.id}}</h2>
          <h3>Likes: {{kitten.likes}}</h3>
          <p>Bio: {{kitten.bio}}</p>
          <a class="wave effect waves-light teal btn" ng-click="mainCtrl.getComments(kitten.id)">View Comments</a>
        </div>
      </div>
    </li>
  </ul>
</div>
